html {
    height: 100%;
    background-color: green;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}
.header{
    display: flex;
    justify-content:center;
    
}
.navbar{
    display: flex;
    width:100%;
    justify-content: space-around;
    border:2px solid black;
}

.main {
    height: 100%;
    background-image: url(https://vignette.wikia.nocookie.net/characterprofile/images/e/e1/Izuku_Midoriya%2C_the_Successor_to_All_Might.png/revision/latest?cb=20170801171151);
}
.social-image{
    width: 30px;
    margin: 15px;
}
.gallery {
    display:flex;
    flex-direction: row;
    padding: 50px;
    justify-content:space-around;
}
.thumbnail-image{
    border: 1px solid black;
}
.social{
    justify-content: space-around;
}
.leftPane{
    justify-content:center;
}
